.login-form{
    margin-top: 30px;
}
.bottom-text img{
    height: 2px;
    margin-top: 12px;
}
.bottom-text p{
    margin: 0 5px 0 5px;
}
.social-media-button button{
    color: #000000;
}
.social-media-button span{
    margin-top: 10px;
}